body {
    /* background-image: linear-gradient(to bottom, #3f48cc, #a9a9a9, #3f48cc); */
    background-image: radial-gradient(circle at center, #FFFFFF 50%, #3f48cc 93%, #FFFFFF 0%);
}

body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(225, 222, 199);
}

header {
    background-color: rgb(225, 222, 199);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: white;
    width: 100%;
    background-color: rgb(35, 32, 24);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.banner {
    height: 200px;
    overflow: hidden;
    border-bottom: 7px solid #ffffff;
}

.banner img {
    margin: 0px 0px 0px 0px;
    width: 100%;
}

.newItem {
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

.inputNome {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 25%;
    padding: 10px;
    font-size: 16px;
}

.btn-default {
    padding: 9px 10px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.btn-add:hover {
    background-color: #3f48cc;
    color: white;
}

.btn-new-match:hover {
    background-color: #3f48cc;
    color: white;
}

.btn-finish:hover {
    background-color: #f44336;
    color: white;
}

.trash:hover {
    color: #f44336;
    font-weight: bolder;
}

.headFooterJogo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 40px;
}

.tblJogo {
    display: flex;
    justify-content: center;
}

.tblHistoric {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.tblHistoric table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: center;
}

.tblHistoric table {
    background-color: white;
    width: 75%;
}

.tblHistoric tr:nth-child(odd) {
    background-color: #eee;
}

.tblHistoric tr:hover {
    background: rgb(200, 199, 199);
}


.containerJogo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

table,
th,
td {
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    transition: 0.2s;
    text-align: center;
}

.tblJogo table {
    /* background-color: white; */
    width: 50%;
}

/* .tblJogo tr:nth-child(odd) {
    background-color: #eee;
} */

.tblJogo td:hover {
    background: rgb(200, 199, 199);
}

.tdJogo {
    border: none;
    font-weight: bold;
    font-size: 80px;
    height: 100px;
    min-width: 100px;
}

.tdJogo:hover {
    background-color: #CBCBCB;
}

#td0 {
    border-top: none;
    border-right: 10px solid #000000;
    border-bottom: 10px solid #000000;
    border-left: none;
}

#td1 {
    border-top: none;
    border-right: 10px solid #000000;
    border-bottom: 10px solid #000000;
    border-left: 10px solid #000000;
}

#td2 {
    border-top: none;
    border-right: none;
    border-bottom: 10px solid #000000;
    border-left: 10px solid #000000;
}

#td3 {
    border-top: 10px solid #000000;
    border-right: 10px solid #000000;
    border-bottom: 10px solid #000000;
    border-left: none;
}

#td4 {
    border-top: 10px solid #000000;
    border-right: 10px solid #000000;
    border-bottom: 10px solid #000000;
    border-left: 10px solid #000000;
}

#td5 {
    border-top: 10px solid #000000;
    border-right: none;
    border-bottom: 10px solid #000000;
    border-left: 10px solid #000000;
}

#td6 {
    border-top: 10px solid #000000;
    border-right: 10px solid #000000;
    border-bottom: none;
    border-left: none;
}

#td7 {
    border-top: 10px solid #000000;
    border-right: 10px solid #000000;
    border-bottom: none;
    border-left: 10px solid #000000;
}

#td8 {
    border-top: 10px solid #000000;
    border-right: none;
    border-bottom: none;
    border-left: 10px solid #000000;
}

#jogoNomeX {
    color: #002BFF;
    min-width: 200px;
    background-color: #FFFFFF;
    padding: 5px 30px;
    border-radius: 40px 10px;
    box-shadow: 2px 5px 10px #000000;
}

#jogoNomeO {
    color: #0d7701;
    min-width: 200px;
    background-color: #FFFFFF;
    padding: 5px 30px;
    border-radius: 10px 40px;
    box-shadow: 2px 5px 10px #000000;
    text-align: end;
}

#jogoVelha {
    min-width: 200px;
    background-color: #FFFFFF;
    padding: 5px 30px;
    border-radius: 40px 10px;
    box-shadow: 2px 5px 10px #000000;
}